.heading-wrapper {
  padding: 2rem 0;
}

.card-small {
  width: 30%;
  height: 12rem;
  margin: 1rem auto;
}

.card-big {
  width: 30%;
  height: 100%;
}

.case-img {
  padding: 30px 0;
  width: 80%;
  margin: auto;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0;
  img {
    width: 50%;
    height: 100%;
    padding: 5px;
  }
}

.app-image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0;
  img {
    width: 28%;
    height: 100%;
    padding: 10px;
  }
}

.card {
  position: relative;
  box-shadow: 0 5px 14px 2px rgba($black, 0.4);
  overflow: hidden;
  text-align: center;

  img {
    position: absolute;
    height: auto;
    width: 200%;
    left: -20%;
    top: 0;

    &:hover {
      opacity: 1;
    }
  }

  .content-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }

  .title {
    position: absolute;
    text-align: center;
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    top: 40%;

    h3 {
      background-color: $lgreen;
      font-weight: $bold;
      padding: 4px;
    }
  }

  &:hover {
    cursor: pointer;

    .content-overlay {
      opacity: 0;
    }
  }
}

@media only screen and (max-width: 863px) and (min-width: 768px) {
  .card-small {
    width: 45%;
    height: 12rem;
  }

  .card-big {
    height: 100%;
  }

  .case-img {
    padding: 20px 40px;
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .card-small {
    width: 80%;
    height: 11rem;
  }

  .card-big {
    width: 45%;
    height: 100%;
    padding: 3px;
  }

  .case-img {
    padding: 10px 20px;
    width: 80%;
  }

  .app-image-grid {
    img {
      width: 40%;
    }
  }
}
